<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="/assets/css/custom.css">-->
    <title>GYM306</title>
</head>
<body>
<div class="page-wrapper">
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1"><a href="/">GYM306 </a></span>
    </nav>
    <h3 style="text-align: center;">WELCOME TO THE MANAGEMENT SYSTEM OF GYM306!</h3>
    <div class="table-bordered table-condensed table-hover" style="text-align:center;">
                <tbody style="border: 1px solid black;">
                        <tr>
                            <th style="margin: 0 auto; font-size: 0.6em; padding: 1px !important; height: 15px;"><a href="/members" title="Members">Members</a></th>
                        </tr>
                        <br/>
                        <tr>
                            <th style="margin: 0 auto;size: 50px;"><a  href="/employees" title="Employees">Employees</a></th>
                        </tr>
                        <br/>
                        <tr>
                            <th style="margin: 0 auto;size: 50px;"><a href="/lessons" title="Lessons">Lessons</a></th>
                        </tr>
                        <br/>
                        <tr>
                            <th style="margin: 0 auto;size: 50px;"><a href="/manager" title="manager">Manager Insights</a></th>
                        </tr>
                        
                </tbody>
            </table>
            </div>
</div>
</body>
</html>