<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="/assets/css/custom.css">-->
    <title>GYM306</title>
</head>
<body>
<div class="page-wrapper">
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1"><a href="/">GYM306</a></span>
    </nav>
    <h3 style="text-align: center;">Manager Insights</h3>
    <div style="text-align:center;">
                <tbody >
                        <tr style="text-align:center; padding: 100px;  border-spacing: 5px;">
                            <th style="margin: 0 auto;"><a href="/totalNumbers" title="Numbers">Total Numbers</a></th>
                        </tr>
                        <br/>
                        <tr style="text-align:center; padding: 100px;">
                            <th style="margin: 0 auto;"><a href="/activeMembers" title="Active Members">Oldest Active Members</a></th>
                        </tr>
                        <br/>
                        <tr style="text-align:center; padding: 100px;">
                            <th style="margin: 0 auto;"><a href="/bestTrainer" title="Best Trainer">Lessons of the Best Trainer</a></th>
                        </tr>
                        <br/>
                        <tr style="text-align:center; padding: 100px;">
                            <th style="margin: 0 auto;"><a href="/youngestMembers" title="Youngest Members">Youngest Members of each Lesson</a></th>
                        </tr>
                        <br/>
                        <tr style="text-align:center; padding: 100px;">
                            <th style="margin: 0 auto;"><a href="/seniorTrainers" title="Senior Trainers">Senior Trainers</a></th>
                        </tr>
                        <br/>
                        <tr style="text-align:center; padding: 100px;">
                            <th style="margin: 0 auto;"><a href="/private_group_trainers" title="Private and Group Trainers">Private and Group Lesson Trainers</a></th>
                        </tr>
                        <br/>
                </tbody>
            </table>
            </div>
</div>
</body>
</html>